div.Overlay {
    background-color: rgba(0,0,0,0.5);
}

div.Box{ /* Overrides standard Vanilla class */
    background-color: white;
    border-radius: 6px;
    border: 1px solid #e1e1e1;
    box-shadow: none;
    color: inherit;
    margin: 0 0 15px 0;
    padding: 12px;
}

body.Discussion #Content {
    //overflow: hidden;
}

.Mine {
    background-color: transparent;
}